.place__image {
    grid-area: place__image;
    width: 36vw;
}

@media screen and (max-width: 1024px) {
    .place__image {
        width: 43vw;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        width: 44vw;
    }
}

@media screen and (max-width: 500px) {
    .place__image {
        width: 100%;
    }
}