.lead {
    text-align: center;
    width: 984px;
    margin: 58px auto 0;
}

@media screen and (max-width: 1024px) {
    .lead {
    width: 928px;
    margin: 50px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
    width: 768px;
    margin: 50px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
    width: 320px;
    margin: 50px auto 0;
    }
}