.footer__link {
    margin-right: 18px;
  }
  
  .footer__link:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
  
  @media screen and (max-width: 500px) {
    .footer__link {
      margin: 0 0 32px 0;
    }
  }