.place__links-heading {    
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    }   
    
    @media screen and (max-width: 768px) {
        .place__links-heading {
            line-height: 100%;
        }
    }
    
    @media screen and (max-width: 320px) {
        .place__links-heading {
            line-height: 100%;
        }
    }