.intro {
  width: 83%;
  margin: 92px auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93%;
    margin: 88px auto;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    width: 90%;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
  }
}