.lead__subtitle {
    font-size: 30px;
    line-height: 120%;
    margin: 0 auto 64px;
    width: 620px;
    }

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    margin: 0 auto 40px;
    width: 288px;
    }
}