.cover {
height: 10%;
}

@media screen and (max-width: 1024px) {
    .cover {
        height: 9%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        height: 7%;
    }
}

@media screen and (max-width: 500px) {
    .cover {
        height: 2%;
    }
}