.place__description-text {
    list-style: none;
    margin-bottom: 25px;
}

.place__description-text:last-of-type {
    list-style: none;
    margin:0;
}

@media screen and (max-width: 500px) {
    .place__description-text {
        max-width: 100%;
    }
}