.page__container {
    max-width: 1184px;
    margin: 34px auto 0;
    color: white;
    font-family: inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
  
  @media screen and (max-width: 1024px) {
    .page__container {
      max-width: 1024px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .page__container {
      max-width: 768px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .page__container {
      max-width: 500px;
      margin: 20px auto 0;
    }
  }